.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1;
  margin-top: -1;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row::after {
  clear:both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
}

.game-info {
  margin-left: 20px;
}